body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.font-concert {
  font-family: 'Concert One', cursive;
}

.bck-black {
  background: #303030;
}
.bck-white {
  background: #ffffff;
}
.bck-red {
  background: #aa1b08;
}
.bck-yellow {
  background: #ffd000;
}

.iconImage {
  width: 20px;
  margin-right: 10px;
}

.center-wrapper {
  width: 900px;
  margin: 0 auto;
}

header {
  padding: 10px 0px;
  transition: all 300ms ease-in;
}

header .header-logo {
  flex-grow: 1;
}
header .header-logo-branding {
  font-size: 40px;
}

header .header-logo-title {
  text-transform: uppercase;
}

.carousel-wrapper {
  height: 700px;
  overflow: hidden;
}

.carousel-image {
  background-size: cover !important;
}

.featured-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 160px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 2px solid white;
}

.featured-text .wrapper {
  border: 2px solid white;
  height: 121px;
  margin: 6px;
  text-align: center;
  color: #fff;
  font-size: 40px;
  padding: 21px 70px 0px 70px;
  text-transform: uppercase;
}
